.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

h2 {
  color: #555;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}



.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  max-width: 250px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  margin-top: 10px;
}

.product-button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: none;
}

.product-button:hover {
  background-color: #45a049;
}

.product-list {
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}